<img src="https://danarquio.github.io/preentrega1diaz/static/media/Dragon.561ef1fd2e215fdac7e01d9795925577.svg" style="max-height: 200px;">

<div className="descproducto">

<h1>Perfil de admin</h1><h3><a href="/api/sessions/logout">Cerrar sesión</a></h3>
<p>Nombre: {{first_name}}{{last_name}}</p>
<p>Email: {{email}}</p>
<p>Rol: {{rol}}</p>

</div>

<a href="/"><h2>Volver al inicio</h2></a>
<a href="/products"><h2>Ir a todos los productos</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css">